  /* default style */
  *,
  html {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
  }

  input {
      outline: none;
      border-style: none;
  }

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=number]:focus,
  [type=text].form-control:focus,
  [type=password].form-control:focus,
  [type=email].form-control:focus,
  [type=tel].form-control:focus,
  [contenteditable].form-control:focus {
      box-shadow: none;
  }

  header {
      position: absolute;
      width: 100%;
      height: 70px;
      margin-bottom: 50px;
      z-index: 999;
  }

  header .search-input {
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
  }

  header .search-button {
      color: #341f97;
      border-left: 1px solid #ddd;
      border-radius: 0;
      height: 100%;
      font-size: 20px;

  }

  header .search-button i {
      line-height: 50px;
  }

  header .search-button:hover {
      color: #fff;
      border-color: #341f97;
      background: #341f97;
  }

  .default-header,
  .fixed-header {
      width: 100%;
      height: 100%;
      z-index: 999;
  }

  .fixed-header {
      display: none;
  }

  .fixed {
      background: #fff;
      position: fixed;
      border-bottom: 1px solid #ddd;
  }

  #content {
      width: 100%;
      height: 500px;
      overflow: hidden;
      position: relative;
      background: rgba(0, 0, 0, 0.7);
  }

  #content>#bg {
      position: absolute;
      top: -100px;
      left: 0px;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      z-index: -1000;
      overflow: hidden;
  }

  .content-box {
      margin-top: 100px;
  }

  #logo {
      width: 130px;
  }

  .btn-outline-light {
      border-color: #341f97;
      color: #341f97;
  }

  .btn-outline-light:hover {
      border-color: #341f97;
      background: #341f97;
      color: #fff;
  }



  #content .search-button {
      color: #fff;
      border-color: #341f97;
      background: #341f97;
      width: 100%;
      height: 100%;
  }

  #content .search-button:hover {
      background: #1B1464;
      border-color: #1B1464;
  }

  #content .search-input {
      width: 100%;
      height: 100%;
  }

  .tag-link {
      color: #fff;
      margin: 0 5px 0 5px;
      font-size: 12px;
  }

  .tag-link:hover {
      color: #f0f0f0;
  }

  .card-content .card-text {
      margin-bottom: 10px;
  }