<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!-- meta tags SEO -->
    <meta charset="utf-8" />
    <meta name="subject" content="중고시세 확인">
    <meta name="title" content="Price:: 가장 빠른 중고시세 확인">
    <meta name="keywords" content="중고, 시세, 빠른, 중고시세, 중고가격, 가격">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- google web font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <!-- load javscript lib from cdn -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <!--load Font Awesome -->
    <link href="/css/all.css" rel="stylesheet">

    <!--default -->
    <link href="/css/common.css" rel="stylesheet">

    <style>
        .fixed-header {
            display: block;
        }
    </style>
</head>


<body>
    <header id="header" class="fixed">
        <div class="fixed-header shadow-sm">
            <div class="container" style="height:100%;">
                <div class="flex-md-nowrap align-items-center d-flex flex-column flex-md-row justify-content-between"
                    style="height:100%;">
                    <a class="navbar-brand col-sm-3 col-md-2 p-3" href="/">
                        <svg viewBox="-176.0420606557377 -48 409.0827983606558 100" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="jsx-2263963463" id="logo">
                            <g transform="translate(-5.327868852459018 31.09836065573772) scale(1.457194899817851)"
                                fill="#000">
                                <g id="line1">
                                    <path
                                        d="M13.324 14.344L13.324-2.531C14.051-2.109 14.807-1.699 15.592-1.301C16.377-0.902 17.174-0.545 17.982-0.229C18.791 0.088 19.611 0.340 20.443 0.527C21.275 0.715 22.113 0.809 22.957 0.809C25.605 0.809 28.096 0.352 30.428-0.563C32.760-1.477 34.799-2.795 36.545-4.518C38.291-6.240 39.668-8.338 40.676-10.811C41.684-13.283 42.188-16.066 42.188-19.160C42.188-22.137 41.684-24.850 40.676-27.299C39.668-29.748 38.291-31.840 36.545-33.574C34.799-35.309 32.760-36.650 30.428-37.600C28.096-38.549 25.605-39.023 22.957-39.023C21.738-39.023 20.531-38.871 19.336-38.566C18.141-38.262 16.986-37.846 15.873-37.318C14.760-36.791 13.688-36.164 12.656-35.438C11.625-34.711 10.676-33.937 9.809-33.117L5.977-37.652L3.656-37.652L3.656 14.344ZM32.555-19.160C32.555-17.637 32.303-16.242 31.799-14.977C31.295-13.711 30.609-12.633 29.742-11.742C28.875-10.852 27.855-10.160 26.684-9.668C25.512-9.176 24.270-8.930 22.957-8.930C21.645-8.930 20.408-9.176 19.248-9.668C18.088-10.160 17.074-10.852 16.207-11.742C15.340-12.633 14.654-13.711 14.150-14.977C13.646-16.242 13.395-17.637 13.395-19.160C13.395-20.754 13.646-22.184 14.150-23.449C14.654-24.715 15.340-25.787 16.207-26.666C17.074-27.545 18.088-28.219 19.248-28.688C20.408-29.156 21.645-29.391 22.957-29.391C24.269-29.391 25.512-29.156 26.684-28.688C27.855-28.219 28.875-27.545 29.742-26.666C30.609-25.787 31.295-24.715 31.799-23.449C32.303-22.184 32.555-20.754 32.555-19.160Z">
                                    </path>
                                    <path
                                        d="M56.777 0L56.777-20.742C56.777-21.750 56.964-22.699 57.339-23.590C57.714-24.480 58.230-25.254 58.886-25.910C59.543-26.566 60.316-27.082 61.207-27.457C62.097-27.832 63.046-28.020 64.054-28.020L72.527-28.020L72.527-37.582L64.054-37.582C61.945-37.582 59.906-37.201 57.937-36.439C55.968-35.678 54.211-34.594 52.664-33.188L49.500-37.652L47.179-37.652L47.179 0Z">
                                    </path>
                                    <path
                                        d="M87.995-47.883C87.995-48.750 87.825-49.576 87.486-50.361C87.146-51.146 86.683-51.826 86.097-52.400C85.511-52.975 84.825-53.432 84.040-53.771C83.255-54.111 82.417-54.281 81.527-54.281C80.636-54.281 79.798-54.111 79.013-53.771C78.228-53.432 77.548-52.975 76.974-52.400C76.400-51.827 75.943-51.147 75.603-50.361C75.263-49.576 75.093-48.750 75.093-47.883C75.093-46.992 75.263-46.160 75.603-45.387C75.943-44.613 76.400-43.939 76.974-43.365C77.548-42.791 78.228-42.334 79.013-41.994C79.798-41.654 80.636-41.484 81.527-41.484C82.417-41.484 83.255-41.654 84.040-41.994C84.825-42.334 85.511-42.791 86.097-43.365C86.683-43.939 87.146-44.613 87.486-45.387C87.825-46.160 87.995-46.992 87.995-47.883ZM86.343 0L86.343-37.652L76.675-37.652L76.675 0Z">
                                    </path>
                                    <path
                                        d="M126.245-30.164C125.401-31.594 124.399-32.859 123.239-33.961C122.079-35.062 120.813-35.994 119.442-36.756C118.071-37.518 116.630-38.098 115.118-38.496C113.606-38.895 112.065-39.094 110.495-39.094C107.846-39.094 105.356-38.555 103.024-37.477C100.692-36.398 98.653-34.928 96.907-33.064C95.161-31.201 93.784-29.016 92.776-26.508C91.768-24.000 91.264-21.305 91.264-18.422C91.264-15.773 91.768-13.289 92.776-10.969C93.784-8.648 95.161-6.621 96.907-4.887C98.653-3.152 100.692-1.787 103.024-0.791C105.356 0.205 107.846 0.703 110.495 0.703C112.065 0.703 113.595 0.521 115.083 0.158C116.571-0.205 117.989-0.738 119.337-1.441C120.684-2.145 121.938-3.000 123.098-4.008C124.259-5.016 125.284-6.152 126.175-7.418L119.143-14.484C118.768-13.641 118.282-12.873 117.684-12.182C117.087-11.490 116.407-10.904 115.645-10.424C114.884-9.943 114.069-9.574 113.202-9.316C112.335-9.059 111.432-8.930 110.495-8.930C109.182-8.930 107.946-9.176 106.786-9.668C105.626-10.160 104.618-10.840 103.762-11.707C102.907-12.574 102.233-13.582 101.741-14.730C101.249-15.879 101.003-17.109 101.003-18.422C101.003-20.039 101.249-21.516 101.741-22.852C102.233-24.188 102.907-25.342 103.762-26.314C104.618-27.287 105.626-28.043 106.786-28.582C107.946-29.121 109.182-29.391 110.495-29.391C111.432-29.391 112.346-29.250 113.237-28.969C114.128-28.688 114.954-28.277 115.716-27.738C116.477-27.199 117.163-26.537 117.772-25.752C118.382-24.967 118.862-24.082 119.214-23.098Z">
                                    </path>
                                    <path
                                        d="M145.580-9.211L163.580-30.902C162.690-32.168 161.659-33.311 160.487-34.330C159.315-35.350 158.055-36.211 156.707-36.914C155.360-37.617 153.936-38.156 152.436-38.531C150.936-38.906 149.401-39.094 147.830-39.094C145.182-39.094 142.692-38.613 140.360-37.652C138.028-36.691 135.989-35.344 134.243-33.609C132.496-31.875 131.120-29.777 130.112-27.316C129.104-24.855 128.600-22.137 128.600-19.160C128.600-16.254 129.104-13.588 130.112-11.162C131.120-8.736 132.496-6.645 134.243-4.887C135.989-3.129 138.028-1.758 140.360-0.773C142.692 0.211 145.182 0.703 147.830 0.703C149.401 0.703 150.930 0.521 152.418 0.158C153.907-0.205 155.325-0.738 156.672-1.441C158.020-2.145 159.274-3.000 160.434-4.008C161.594-5.016 162.620-6.152 163.510-7.418L156.479-14.484C156.104-13.641 155.618-12.873 155.020-12.182C154.422-11.490 153.743-10.904 152.981-10.424C152.219-9.943 151.405-9.574 150.537-9.316C149.670-9.059 148.768-8.930 147.830-8.930C147.456-8.930 147.081-8.947 146.705-8.982C146.331-9.018 145.956-9.094 145.580-9.211ZM150.502-29.004L139.323-14.168C139.135-14.496 138.983-14.871 138.866-15.293C138.749-15.715 138.649-16.154 138.567-16.611C138.485-17.068 138.426-17.520 138.391-17.965C138.356-18.410 138.338-18.809 138.338-19.160C138.338-20.730 138.584-22.143 139.077-23.396C139.569-24.650 140.243-25.723 141.098-26.613C141.954-27.504 142.961-28.189 144.121-28.670C145.282-29.150 146.518-29.391 147.830-29.391C148.299-29.391 148.750-29.367 149.184-29.320C149.618-29.273 150.057-29.168 150.502-29.004Z">
                                    </path>
                                </g>
                            </g>
                            <g transform="translate(-189.8294786387421 -88.83278318486242) scale(1.7234272478755477)"
                                id="logomark">
                                <g fill="#341f97">
                                    <path
                                        d="M83.924 24c-4.363 0-7.913 3.55-7.913 7.913 0 1.461.405 2.825 1.098 4.001L64.486 48.536a7.865 7.865 0 0 0-3.804-.978c-3.191 0-5.942 1.903-7.192 4.631L41.195 49.8c-.803-3.519-3.951-6.154-7.709-6.154-4.363 0-7.913 3.55-7.913 7.913 0 1.309.325 2.543.89 3.631l-7.214 7.216a7.848 7.848 0 0 0-3.335-.747C11.55 61.658 8 65.208 8 69.571s3.55 7.913 7.913 7.913c4.364 0 7.914-3.55 7.914-7.913a7.837 7.837 0 0 0-.765-3.371l7.35-7.351c.945.4 1.984.622 3.074.622 3.07 0 5.73-1.76 7.042-4.32l12.538 2.437c.929 3.337 3.988 5.797 7.617 5.797 4.363 0 7.913-3.55 7.913-7.913 0-1.019-.2-1.989-.553-2.885l13.229-13.228c.83.296 1.721.467 2.651.467 4.363 0 7.913-3.55 7.913-7.913S88.287 24 83.924 24zM15.913 72.104a2.536 2.536 0 0 1-2.533-2.533 2.535 2.535 0 0 1 2.533-2.533 2.536 2.536 0 0 1 2.534 2.533 2.536 2.536 0 0 1-2.534 2.533zm17.573-18.012a2.537 2.537 0 0 1-2.534-2.533c0-1.397 1.137-2.533 2.534-2.533s2.534 1.136 2.534 2.533a2.537 2.537 0 0 1-2.534 2.533zm27.197 3.913a2.536 2.536 0 0 1-2.533-2.533 2.535 2.535 0 0 1 2.533-2.533 2.536 2.536 0 0 1 2.533 2.533 2.537 2.537 0 0 1-2.533 2.533zm23.241-23.559c-1.397 0-2.533-1.136-2.533-2.533s1.136-2.533 2.533-2.533c1.396 0 2.533 1.136 2.533 2.533s-1.137 2.533-2.533 2.533z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </a>

                </div>
            </div>
        </div>
    </header>
    <style>
        h4,
        h5 {
            padding: 5px 0 5px 0;
        }

        h5 {
            font-size: 18px;
        }

        p {
            font-weight: 300;
            color: #1e1e1e;
        }
    </style>



    <div class="container" style="padding-top:100px;">
        <h4>1. 개인정보 처리방침이란?</h4>
        <p>Price(이하"회사")는 이용자의 ‘동의를 기반으로 개인정보를 수집·이용 및 제공’하고 있으며, ‘이용자의 권리 (개인정보 자기결정권)를 적극적으로 보장’합니다.
            회사는 정보통신서비스제공자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하고 있습니다.
            “개인정보처리방침”이란 이용자의 소중한 개인정보를 보호함으로써 이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미합니다.</p>

        <p>본 개인정보처리방침은 회사가 제공하는 Price 기반의 서비스(이하 ‘서비스'라 함)에 적용됩니다.</p>
        </br>
        <hr>
        </br>
        <h5>개인정보를 수집하는 방법은 다음과 같습니다.</h5>
        <p>개인정보를 수집하는 경우에는 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법을 통해 개인정보를 수집합니다.</p>

        <p>회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우</p>

        <p>제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우</p>

        <h5>서비스 이용 과정에서 이용자로부터 수집하는 개인정보는 아래와 같습니다.</h5>
        <p>PC웹, 모바일 웹/앱 이용 과정에서 단말기정보(OS, 화면사이즈, 디바이스 아이디, 폰기종, 단말기 모델명), IP주소, 쿠키, 방문일시, 부정이용기록, 서비스 이용 기록 등의 정보가 자동으로
            생성되어 수집될 수 있습니다.</p>
        </br>
        <hr>
        </br>

        <h4>2. 개인정보 파기</h4>
        <h5>개인정보는 수집 및 이용목적이 달성되면 지체없이 파기하며, 절차 및 방법은 아래와 같습니다.
        </h5>
        <p>전자적 파일 형태인 경우 복구 및 재생되지 않도록 안전하게 삭제하고, 그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.
            다만, 내부 방침에 따라 일정 기간 보관 후 파기하는 정보는 아래와 같습니다.</p>

        <p>1) 아래 정보는 탈퇴일부터 최대 1년간 보관 후 파기합니다.</p>
        <p>&nbsp&nbsp&nbsp&nbsp-서비스 부정이용 기록</p>

        <h5>개인정보처리방침이 변경되는 경우</h5>
        <p>법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보처리방침을 수정할 수 있습니다. 개인정보처리방침이 변경되는 경우 카카오는 변경 사항을 게시하며, 변경된 개인정보처리방침은 게시한
            날로부터 7일 후부터 효력이 발생합니다. 
            다만, 수집하는 개인정보의 항목, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 미리 알려드리겠습니다</p>
    </div>


</body>

</html>